* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: rgb(187, 76, 76);
}

.container {
    padding: 10px;
}

.book-container {
    margin: 30px;
    padding: 15px;
    width: 25%;
    background-color: blanchedalmond;
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
}

.book-container h2 {
    color: #fd6569;
}
.book-container button {
    background-color: #fd6569;
    color: white;
    font-size: medium;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
}

.add-button {
    background-color: #fd6569;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    display: none;
    z-index: 1;
}

.popupbox {
    background-color: #fd6569;
    padding: 20px;
    width: 30%;
    position: absolute;
    border-radius: 15px;
    top: 20%;
    left: 32%;
    display: none;
    z-index: 2;
}

.popupbox input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid black;
    color: black;
}

.popupbox textarea {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
}

.popupbox input::placeholder {
    color: black;
}

.popupbox textarea::placeholder {
    color: black;
}

.popupbox button {
    background-color: black;
    padding: 10px 20px;
    border: none;
    color: white;
}

.popupbox input:focus {
    outline: none;
}

.popupbox textarea:focus {
    outline: none;
}
